/* 06_style.css */
:root{
    --max-width: 1100px;
    /* Company Colors */
        /* navy blue, WeCare */
        --primary-color: rgb(0, 64, 127);
        /* yellow/Gold, WeCare */
        --secondary-color: rgb(255, 209, 81);
        /* off-white-in-use-now */

    /* Shades & utility colors */
        /* light-color */
        --light-color: #f4f4f4;
        --dark-gray: #333;
        --silver: #c0c0c0;
    

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* font */
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.4;     
    background: var(--light-color);
}
header{
    background-color: var(--primary-color);
    color: var(--light-color);
    border-bottom: 
        5px 
        var(--secondary-color) 
        solid;
    text-align: center;
}

/* root classes */
    .container{
        display: flex;
        margin: auto; 
        max-width: var(--max-width);
    }
    .box{
        /* Variables */
            /* flexbox */
                --box-1-width: 1;
                --box-2-width: 2;
        padding: 1.5rem;
        background: var(--primary-color);
        border-bottom: 5px var(--secondary-color) solid;
        color: var(--light-color);
        margin: 1rem;
    }
    .box-1{
        flex: var(--box-1-width);
    }
    .box-2{
        flex: var(--box-2-width);
    }


