/* master.css */
:root{
    /* color pallete */
        --light-color: #f4f4f4;
        --dark-color: #333;
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color: teal;
    --page-4-color: slateblue;
    --animation-speed: 1s;


}

*{
     /* spacing */
        margin: 0;
        padding: 0;
     /* text settings */
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.4;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    
}















