// variables
    $website-width: 2000px;
    $main-color: #ffbc00;
    $light-color: #f4f4f4;
    $dark-color: #333;
    $medium-color: #ccc;
    
    // file path is from the 'main.css'
    $background-image: url(../img/showcase.jpg);