@import "config";
@import "utilities";
@import "work";
@import "media";

//Clear
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Base Element CSS
body {
    font-family: "dosis", sans-serif;
    line-height: 1.6;
    color: var(--dark-color);
    background: var(--light-color);
}

a {
    text-decoration: none;
    color: var(--dark-color);
    cursor: pointer;
}

input,
textarea {
    border-radius: 4px;
    box-shadow: none;
    border: none;
}
ul {
    list-style: none;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}
//End Base CSS//End Base CSS//End Base CSS//End Base CSS

// Main Nav
#main-nav {
    // 1 dimentional container
    display: flex;
    // spread out content
    justify-content: space-between;
    //push down nav content
    padding-top: 0.8rem;
    ul {
        display: flex;
        li {
            padding: 1rem 1.5rem;
            a {
                color: #fff;
                text-transform: uppercase;
                border-bottom: 3px transparent solid;
                padding-bottom: 0.5rem;
                //transition the border-color over .5seconds
                transition: border-color 0.5s;
                &.current {
                    border-color: var(--main-color);
                }
                &:hover {
                    border-color: var(--medium-color);
                }
            }
        }
    }
}

// Logo
.logo {
    width: 70px;
    // height: 80px;
    color: #fff;
    text-transform: uppercase;
}

// Header
#header {
    &-home {
        //this targets: #header-home
        background: var(--background-image) no-repeat center right / cover;
        height: 100vh;
        color: #fff;
        //Header Content
        .header-content {
            text-align: center;
            padding-top: 20%;

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }
    &-inner {
        //all other than index
        //this targets: #header-inner
        background: var(--background-image) no-repeat 20% /*x-axis*/ 30%
            /*y-axis*/ / cover;
        height: 5.5rem;
        border-bottom: 3px solid var(--main-color);
    }
}

// Sections

#home {
    /*home section-a*/
    &-a {
        .specials {
            margin-top: 3rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);
            .fas,
            .fab {
                color: var(--main-color);
                padding-bottom: 0.4rem;
            }
        }
    }

    /* section#home-b */
    &-b {
        // 4 column wide grid
        .stats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            li {
                line-height: 2;

                &.stats-title {
                    font-size: 1.5rem;
                }
                &.stats-number {
                    font-size: 2rem;
                }
            }
            div {
                padding: 3rem 0;
                &:nth-child(odd) {
                    background: var(--light-color);
                }
                &:nth-child(even) {
                    background: var(--medium-color);
                }
            }
        } //end .stats
    } //end &-b

    // section#home-c
    //   '.process', 4 steps to success
    &-c {
        //section container
        .process {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5rem;
            text-align: center;

            // .process-icon
            &-icon {
                // display
                //center text (the icon)
                display: flex;
                justify-content: center;
                align-content: center;

                // position
                position: relative;
                border-radius: 50%;
                background: var(--dark-color);
                color: set-text-color(#333);
                // padding is moving the icon out of position

                // spacing
                margin-right: auto;
                margin-left: auto;
                height: 130px;
                width: 130px;

                line-height: 130px;
                text-align: center;
                transition: all 1s;
                // hover
                &:hover {
                    background: var(--main-color);
                    width: 143px;
                    height: 143px;
                    line-height: 143px;

                    .process-step {
                        background: var(--dark-color);
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                    }
                }
            }

            // steps
            &-step {
                //center the text ( the step number )
                display: flex;
                align-content: center;
                justify-content: center;
                //position
                position: absolute;
                top: 0;
                left: 0;
                font-size: 28px;
                background: var(--main-color);
                // circle
                border-radius: 50%;

                //height & width are moving the icon with padding, idk
                height: 50px;
                width: 50px;
                line-height: 50px;

                // padding-bottom: 0.3rem;
                // padding: 0.4rem 0.2rem;
                transition: all 1s;
                text-align: center;
                border: var(--light-color) 3px solid;

                p {
                    align-self: center;
                }

                //hover
            } //end .process-step
        } // end .process
    } //end &-c
} //end #home

#about {
    // section#about-a; //about page, section#about-a
    //   bioimage, bio text, awards(3)
    &-a {
        .about-info {
            display: grid;
            grid-template-areas:
                "bioimage   bio     bio"
                "award1     award2  award3";
            grid-gap: 1.2rem;
        }

        //grid area
        .bio-image {
            grid-area: bioimage;
        }
        .bio {
            grid-area: bio;
            border-left: 3px solid $main-color;
            padding: 0.8rem;
            background: $medium-color;
        }
        .award-1 {
            grid-area: award1;
        }
        .award-2 {
            grid-area: award2;
        }
        .award-3 {
            grid-area: award3;
        }

        .award-1 .fas,
        .award-2 .fas,
        .award-3 .fas {
            color: $main-color;
            margin: 1rem;
        }
    } // end about-a

    // section#about-b
    //  progress bars
    &-b {
        .progress {
            overflow: hidden;
            height: 20px;
            background: $medium-color;
            border-radius: 6px;
            margin-bottom: 0.6rem;

            div {
                height: 100%;
                color: #fff;
                text-align: center;
                background-color: $main-color; /*color of the visual data; progress*/
            }
        }
    } //end #about-b

    // section#about-c
    //   clients logos
    &-c {
        // client-logos
        .about-logos {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
        }
    }

    &-d {
        background: $medium-color;

        // section#about-d.testimonials
        .testimonials {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0.5rem;

            // Testimonial Text in a paragraph element
            p {
                border: solid 1px $dark-color;
                border-radius: 4px;

                padding: 0.5rem;
            }
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 1rem;

                img {
                    width: 80px;
                    // height: 65px; /*picture stays the same size with this attribute commented out */
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

// contact page// contact page// contact page
#contact {
    // #contact-a
    &-a {
        .text-fields {
            display: grid;
            grid-template-areas:
                "name email"
                "subject phone"
                "message message";
            grid-gap: 1.2rem;
            margin-bottom: 1.2rem;

            .text-input {
                padding: 0.5rem 1rem;
            }

            // input specific classes
            .name-input {
                grid-area: name;
            }
            .subject-input {
                grid-area: subject;
            }
            .email-input {
                grid-area: email;
            }
            .phone-input {
                grid-area: phone;
            }
            .message-input {
                grid-area: message;
                height: 100px;
            }
        }
        button[type="submit"] {
            width: 50%;
        }
    } //end section-a
    &-b {
        .contact-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
        }
    } //end .contact-b
    &-c {
        h1 {
            text-align: center;
            font-size: 4rem;
        }
    }
}

//footer //footer //footer
#main-footer {
    background: var(--dark-color);
    color: #fff;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;

        .social .fab,
        .social .fas {
            margin-right: 1rem;
            border: 2px #fff solid;
            font-size: 1.5rem;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            // padding: 0.5rem;
            transition: all 0.6s;
            &:hover {
                background: var(--main-color);
            }
        }
    }
}

// import media queries
@import "media";
